{% extends 'base.html' %}
{% block content %}

<div class="admin-page">

    <div class="admin-header">
        <h2>Booking Management</h2>
        <p>View and monitor all system bookings.</p>
    </div>

    {% if not bookings %}
        <div class="empty-state">
            No bookings available.
        </div>
    {% endif %}

    {% for b in bookings %}
    <div class="admin-booking-card">

        <div class="booking-top">

            <div>
                <span class="booking-label">PNR</span>
                <h3>{{ b.pnr }}</h3>
            </div>

            <div class="booking-status 
                {% if b.status == 'CONFIRMED' %} status-confirmed
                {% else %} status-cancelled {% endif %}">
                {{ b.status }}
            </div>

        </div>

        <div class="booking-info">

            <div>
                <span>User</span>
                <strong>{{ b.username }}</strong>
            </div>

            <div>
                <span>Flight</span>
                <strong>{{ b.flight_number }}</strong>
            </div>

            <div>
                <span>Departure</span>
                <strong>{{ b.departure_time }}</strong>
            </div>

        </div>

        <div class="passenger-section">
            <h4>Passengers</h4>

            <div class="passenger-list">
                {% for p in b.passengers %}
                    <div class="passenger-chip">
                        {{ p.first_name }} {{ p.last_name }}
                        <span>Seat {{ p.seat_number }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}