{% extends 'base.html' %}
{% block content %}

<h2>Select Your Seats</h2>

<form method="POST" action="/confirm" id="bookingForm">
    <input type="hidden" name="schedule_id" value="{{ schedule_id }}">
    <div id="selectedSeatsContainer"></div>

    <div class="seat-grid">
        {% for seat in seats %}
            <div 
                class="seat {% if seat.is_booked %}booked{% endif %}" 
                data-seat-id="{{ seat.seat_id }}"
                onclick="toggleSeat(this)"
            >
                {{ seat.seat_number }}
            </div>
        {% endfor %}
    </div>

    <br>
    <button type="submit">Confirm Booking</button>
</form>

<script>
let selectedSeats = [];

function toggleSeat(element) {

    if (element.classList.contains("booked")) return;

    const seatId = element.getAttribute("data-seat-id");

    if (selectedSeats.includes(seatId)) {
        selectedSeats = selectedSeats.filter(id => id !== seatId);
        element.classList.remove("selected");
    } else {
        selectedSeats.push(seatId);
        element.classList.add("selected");
    }

    updateHiddenInputs();
}

function updateHiddenInputs() {
    const container = document.getElementById("selectedSeatsContainer");
    container.innerHTML = "";

    selectedSeats.forEach((seatId, index) => {
        container.innerHTML += `
            <input type="hidden" name="seat_id_${index+1}" value="${seatId}">
            <input type="hidden" name="first_name_${index+1}" value="Passenger${index+1}">
            <input type="hidden" name="last_name_${index+1}" value="LN">
            <input type="hidden" name="email_${index+1}" value="p${index+1}@mail.com">
        `;
    });
}
</script>

{% endblock %}