{% extends 'base.html' %}
{% block content %}

<h2>Edit Flight</h2>

<form method="POST">
    <input type="text"
           name="flight_number"
           value="{{ flight.flight_number }}"
           required>

    <select name="departure" required>
        {% for airport in airports %}
            <option value="{{ airport.airport_id }}"
                {% if airport.airport_id == flight.departure_airport %}
                    selected
                {% endif %}>
                {{ airport.city }}
            </option>
        {% endfor %}
    </select>

    <select name="arrival" required>
        {% for airport in airports %}
            <option value="{{ airport.airport_id }}"
                {% if airport.airport_id == flight.arrival_airport %}
                    selected
                {% endif %}>
                {{ airport.city }}
            </option>
        {% endfor %}
    </select>

    <input type="number"
           name="duration"
           value="{{ flight.duration_minutes }}"
           required>

    <button type="submit"
            class="primary-btn">
        Update Flight
    </button>
</form>

{% endblock %}